.MainBox_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  .text {
    width: 100%;
    height: 52%;
    background-color: var(--box);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .content {
      width: 96%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .title {
        height: 72%;
      }

      .btnContact {
        width: 100%;
        display: flex;
        justify-content: end;

        a {
          padding: 0.5em 0.8em;
          border: 3px solid var(--purple);
          border-radius: 50em;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5em;
          background-color: var(--purple);
          color: var(--text-white);
          font-size: 2vh;
          font-weight: 800;
          font-family: var(--font-family);
          cursor: pointer;
          transition: var(--transition);
        }

        a:hover {
          border-color: var(--box);
          box-shadow: 0 0 0 3px var(--purple), 0 0 500px 100px var(--purple);
        }
      }
    }
  }

  .info {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}

@media screen and (max-width: 1090px) {
  .MainBox_container {
    .text {
      .content {
        display: flex;
        justify-content: center;

        h1 {
          font-size: 5vw;
        }

        a {
          width: 15em;
          right: 50%;
          transform: translateX(50%);
          gap: 1em;
          border-radius: 12px;
        }
      }
    }
  }
}
