.MapBox_container {
  width: 100%;
  height: calc(100% - 23vh);
  border-radius: 1vh;
  overflow: hidden;

  h1 {
    z-index: 10000;
  }
}

@media screen and (max-width: 1090px) {
  .MapBox_container {
    display: none;
  }
}
