.MediaBox_container {
  width: 100%;
  height: 5em;
  padding: 0 0.5em;
  border-radius: 50px;
  background-color: var(--box);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;

  .icon {
    width: 5.615em;
    height: 4.3em;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--transition);

    svg {
      width: 40%;
      height: 40%;
      fill: var(--text-white);
    }
  }
}

@media screen and (max-width: 1090px) {
  .MediaBox_container {
    order: 5;
    margin-top: 0;
    width: 100%;
    height: 4.5em;
    opacity: 0;
    animation: showMedia 0.5s ease forwards;
    animation-delay: 3.3s !important;

    .icon {
      width: 4.4em;
      height: 3.4em;
    }
  }
}

@keyframes showMedia {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}