.InfoCard_container {
  width: 35%;
  height: 15em;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .value {
    font-size: 3.5vw;
    font-weight: 900;
    font-family: var(--font-family);
  }

  .title {
    font-size: 1.3vw;
    font-weight: 700;
    font-family: var(--font-family);
  }
}
