.NameBox_container {
  width: 100%;
  padding: 0 2em;
  height: 10vh;
  background-color: var(--box);
  border-radius: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  position: relative;

  .NameBox_title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family);
    color: var(--gray);
  }

  .NameBox_infos {
    display: flex;
    align-items: center;
    gap: 1em;

    .NameBox_pseudo {
      display: none;
      margin-top: 0.1em;
      margin-left: -1.4em;

      img {
        border-radius: 50%;
      }
    }

    .NameBox_status {
      display: flex;
      align-items: center;
      gap: 1em;

      .NameBox_uptime {
        display: flex;
        align-items: center;
        gap: 0.3em;
      }
    }

    .NameBox_value {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: var(--font-family);
      color: var(--text-white);
      cursor: default;
    }
  }

  .NameBox_data {
    display: flex;
    gap: 1em;

    .field {
      display: flex;
      gap: 0.3em;
      align-items: center;

      span {
        font-size: 1rem;
        font-weight: 700;
        font-family: var(--font-family);
        color: #e6edf3;
      }

      p {
        margin: 0;
        width: 2em;
        font-size: 0.8em;
        font-weight: 700;
        font-family: var(--font-family);
        color: var(--text-white);
        background-color: #3a3f47;
        border-radius: 22px;
        padding: 0.2em 1.2em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .NameBox_pseudo {
    display: flex !important;
  }
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  --shadow-color: transparent;
  animation: pulse 2s infinite ease-in-out;
}

.up {
  background-color: #4caf50;
  --shadow-color: #4caf5055;
}

.degraded {
  background-color: #ff9800;
  --shadow-color: #ff980055;
}

.down {
  background-color: #f44336;
  --shadow-color: #f4433655;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0px 0px var(--shadow-color);
  }

  80% {
    box-shadow: 0 0 0px 10px transparent;
  }

  100% {
    box-shadow: 0 0 0px 0px transparent;
  }
}